<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/NearHosp.css">
    <title>Swathya Setu</title>
    <script src="/js/NearHosp.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">Swathya Setu</a>
        </div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="inputs">
            <div>

                <select name="type" id="type">
                    <option value="Select Type" selected>Select Type</option>
                    <option value="Hospital" >Hospital</option>
                    <option value="Pharmacy">Pharmacy</option>
                    <option value="Clinic">Clinic</option>
                </select>
                <button class="Search-btn">Search</button>
            </div>
            </div>
        
    <table class="Hospital-list"></table>
    </div>
</body>

</html>