<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shotcut icon" href="/images/landing-page-image.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/signup-page.css">
    <title>Swasthya Setu</title>
</head>

<body>
    <div class="container">
        <div class="signup-box">
            <img src="/images/signup-page-bg.png" alt="" class="signup-bg">
            <h2>Sign Up</h2>
            <div id="error-message" >
                <script>
                    const urlParams = new URLSearchParams(window.location.search);
                    const errorMessage = urlParams.get('error');
                    if (errorMessage) {
                        document.write(errorMessage);
                    }
                </script>
            </div>
            <form action="/signup" method="post" autocomplete="off">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required autocomplete="new-username">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required autocomplete="new-email">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required autocomplete="new-password">
                </div>
                <div>
                    <label for="confirm-password">Confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            
            <p>Already have an Account? <a href="/login">Login Here</a></p>
        </div>
    </div>
</body>

</html>