<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Evaluation Form</title>
    <script src="/js/StressEval.js"></script>
    <link rel="stylesheet" href="/css/StressEval.css">
    
</head>
<body>
    <header class="navbar">
        <div class="brand">Health Setu</div>
        <div class="hamburger" id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="nav-links" id="nav-links">
            <li><a href="page1.html">Nearby Hospital</a></li>
            <li><a href="page2.html">Diet & Exercise</a></li>
            <li><a href="page3.html">BMI Calculator</a></li>
            <li><a href="page4.html">Weight Gain/Loss</a></li>
            <li><a href="page5.html">Stress Level Checker</a></li>
        </ul>
        <div class="search-box">
            <input type="text" id="search" placeholder="Search...">
        </div>
    </header>
    

    <div class="container">
        <div id="progressContainer" style="width: 100%; background-color: #ddd;">
            <div id="progressBar"></div>
          </div>
        <h1>Stress Evaluation Form</h1>
        <form id="stressForm">
        </form>
        <div id="resultDiv" class="result">
            <p id="resultText"></p>
        </div>
    </div>
    
    
</body>
</html>
